<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="it.archiworld.archman.client.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.archiworld.archman.client.crm.CRMPerspective"
            fixed="true"
            icon="help/icons/telephone_go.png"
            id="it.archiworld.archman.client.crm.perspective"
            name="%crm_perspective_name">
      </perspective>
      <perspective
            class="it.archiworld.archman.client.committee.CommitteePerspective"
            fixed="true"
            icon="help/icons/group_go.png"
            id="it.archiworld.archman.client.committee.perspective"
            name="%committee_perspective_name"/>
      <perspective
            class="it.archiworld.archman.client.protocol.ProtocolPerspective"
            fixed="true"
            icon="help/icons/email_go.png"
            id="it.archiworld.archman.client.protocol.perspective"
            name="%protocol_perspective_name"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="it.archiworld.archman.client.crm.AddressTreeView"
            icon="help/icons/telephone.png"
            id="it.archiworld.archman.client.crm.addresstreeview"
            name="%address_tree_view_name"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.archiworld.archman.client.crm.MemberEditor"
            contributorClass="it.archiworld.archman.client.crm.MemberEditorActionBarContributor"
            default="false"
            icon="help/icons/vcard_edit.png"
            id="it.archiworld.archman.client.crm.membereditor"
            name="%member_editor_name"/>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.archiworld.archman.client.crm.CompanyEditor"
            default="false"
            icon="help/icons/building_edit.png"
            id="it.archiworld.archman.client.crm.companyeditor"
            name="%company_editor_name"/>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.archiworld.archman.client.crm.PersonEditor"
            contributorClass="it.archiworld.archman.client.crm.PersonEditorActionBarContributor"
            default="false"
            icon="help/icons/user_edit.png"
            id="it.archiworld.archman.client.crm.personeditor"
            name="%person_editor_name"/>
   </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.crm.ServiceMemberEditor"
               icon="help/icons/wrench.png"
               id="it.archiworld.archman.client.crm.servicemembereditor"
               name="%servicemember_editor_name">
         </editor>
      </extension>
   <extension
            id="product"
            point="org.eclipse.core.runtime.products">
         <product
               application="it.archiworld.archman.client.application"
               description="%product_description"
               name="%product_name">
            <property
                  name="preferenceCustomization"
                  value="plugin_customization.ini"/>
            <property
                  name="callbackHandlerProvider"
                  value="eclipsejaas.util.dialogHandlerProvider"/>
            <property
                  name="aboutText"
                  value="%about_text"/>
            <property
                  name="appName"
                  value="%product_name">
            </property>
            <property
                  name="aboutImage"
                  value="immages/archman_about.gif">
            </property>
            <property
                  name="windowImages"
                  value="immages/archman_icon_16_8.gif,immages/archman_icon_32_8.gif,immages/archman_icon_48_8.gif,immages/archman_icon_64_8.gif,immages/archman_icon_128_8.gif">
            </property>
            <property
                  name="startupProgressRect"
                  value="5,280,445,10">
            </property>
         </product>
      </extension>
      <extension 
      	point="net.sourceforge.eclipsejaas.applicationConfigurationEntries">
      	<appConfigurationEntry 
      		controlFlag="REQUIRED"
     		loginModuleName="it.archiworld.archman.client.core.JaasLoginModule"/>
      </extension>
      <extension 
      	point="net.sourceforge.eclipsejaas.pluginAuthorizations">
      	<pluginAuthorizations class="it.archiworld.archman.client.core.JaasAuthorizationModule"/>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               class="it.archiworld.archman.client.committee.CommitteeTreeView"
               icon="help/icons/group.png"
               id="it.archiworld.archman.client.committee.committeetreeview"
               name="%committee_tree_view_name"/>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               class="it.archiworld.archman.client.protocol.ProtocolTreeView"
               icon="help/icons/email.png"
               id="it.archiworld.archman.client.protocol.protocoltreeview"
               name="%protocol_tree_view_name"/>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.protocol.InProtocolEditor"
               default="false"
               icon="help/icons/email_edit.png"
               id="it.archiworld.archman.client.protocol.inprotocoleditor"
               name="%inprotocol_editor_name"/>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.protocol.OutProtocolEditor"
               contributorClass="it.archiworld.archman.client.protocol.OutProtocolEditorActionContributor"
               default="false"
               icon="help/icons/email_edit.png"
               id="it.archiworld.archman.client.protocol.outprotocoleditor"
               name="%outprotocol_editor_name"/>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.committee.CommitteeEditor"
               default="false"
               icon="help/icons/group_edit.png"
               id="it.archiworld.archman.client.committee.committeeeditor"
               name="%committee_editor_name"/>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               class="it.archiworld.archman.client.scanner.ScanView"
               icon="help/icons/picture.png"
               id="it.archiworld.archman.client.scanner.scanview"
               name="%scanner_view_name"/>
      </extension>
      <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               description="%crm_actionset_description"
               id="it.archiworld.archman.client.crm.perspective.actionset"
               label="%crm_actionset_label"
               visible="false">
            <action
                  class="it.archiworld.archman.client.crm.AddPersonActionDelegate"
                  definitionId="it.archiworld.archman.client.crm.addperson"
                  icon="help/icons/user_add.png"
                  id="it.archiworld.archman.client.crm.addpersonaction"
                  label="%add_person_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_person_action_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.AddCompanyActionDelegate"
                  definitionId="it.archiworld.archman.client.crm.addcompany"
                  icon="help/icons/building_add.png"
                  id="it.archiworld.archman.client.crm.addcompanyaction"
                  label="%add_company_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_company_action_tooltip">
            </action>
         </actionSet>
         <actionSet
               description="%protocol_actionset_description"
               id="it.archiworld.archman.client.protocol.perspective.actionset"
               label="%protocol_actionset_label"
               visible="false">
            <action
                  class="it.archiworld.archman.client.crm.AddPersonActionDelegate"
                  definitionId="it.archiworld.archman.client.crm.addperson"
                  icon="help/icons/user_add.png"
                  id="it.archiworld.archman.client.crm.addpersonaction"
                  label="%add_person_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_person_action_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.AddCompanyActionDelegate"
                  definitionId="it.archiworld.archman.client.crm.addcompany"
                  icon="help/icons/building_add.png"
                  id="it.archiworld.archman.client.crm.addcompanyaction"
                  label="%add_company_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_company_action_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.protocol.AddOutProtocolActionDelegate"
                  definitionId="it.archiworld.archman.client.protocol.addoutprotocol"
                  icon="help/icons/email_out_add.png"
                  id="it.archiworld.archman.client.protocol.addoutprotocolaction"
                  label="%add_outprotocol_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_outprotocol_action_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.protocol.AddInProtocolActionDelegate"
                  definitionId="it.archiworld.archman.client.protocol.addinprotocol"
                  icon="help/icons/email_in_add.png"
                  id="it.archiworld.archman.client.protocol.addinprotocolaction"
                  label="%add_inprotocol_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_inprotocol_action_tooltip">
            </action>
         </actionSet>
         <actionSet
               description="%committee_actionset_description"
               id="it.archiworld.archman.client.committee.perspective.actionset"
               label="%committee_actionset_label"
               visible="false">
            <action
                  class="it.archiworld.archman.client.committee.AddCommitteeActionDelegate"
                  definitionId="it.archiworld.archman.client.committee.addcommittee"
                  icon="help/icons/group_add.png"
                  id="it.archiworld.archman.client.committee.addcommitteeaction"
                  label="%add_committee_action_label"
                  menubarPath="File/new"
                  style="push"
                  toolbarPath="File/new"
                  tooltip="%add_committee_action_tooltip"/>
         </actionSet>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               description="%add_person_command_description"
               id="it.archiworld.archman.client.crm.addperson"
               name="%add_person_command_name"/>
         <command
               description="%add_member_command_description"
               id="it.archiworld.archman.client.crm.addmember"
               name="%add_member_command_name">
         </command>
         <command
               description="%add_company_command_description"
               id="it.archiworld.archman.client.crm.addcompany"
               name="%add_company_command_name"/>
         <command
               description="%add_committee_command_description"
               id="it.archiworld.archman.client.committee.addcommittee"
               name="%add_committee_command_name"/>
         <command
               description="%add_inprotocol_command_description"
               id="it.archiworld.archman.client.protocol.addinprotocol"
               name="%add_inprotocol_command_name"/>
         <command
               description="%add_outprotocol_command_description"
               id="it.archiworld.archman.client.protocol.addoutprotocol"
               name="%add_outprotocol_command_name"/>
      </extension>
      <extension
            point="org.eclipse.help.toc">
         <toc
               file="help/toc.xml"
               primary="true">
         </toc>
      </extension>
<!--     <extension
            point="org.eclipse.ui.intro">
         <intro
               class="org.eclipse.ui.intro.config.CustomizableIntroPart"
               icon="help/icons/application_view_tile.png"
               id="it.archiworld.archman.client.intro"
               label="%intro_label">
         </intro>
         <introProductBinding
               introId="it.archiworld.archman.client.intro"
               productId="it.archiworld.archman.client.product">
         </introProductBinding>
      </extension>
      <extension
            point="org.eclipse.ui.intro.config">
         <config
               content="help/introContent.xml"
               id="it.archiworld.archman.client.introConfigId"
               introId="it.archiworld.archman.client.intro">
            <presentation
                  home-page-id="root">
               <implementation
                     kind="html"
                     os="win32,linux,macosx"
                     style="help/content/shared.css">
               </implementation>
            </presentation>
         </config>
      </extension>
 --> 
      <extension
            point="org.eclipse.ui.viewActions">
         <viewContribution
               id="it.archiworld.archman.client.protocol.protocoltreeview.actions"
               targetID="it.archiworld.archman.client.protocol.protocoltreeview">
            <action
                  class="it.archiworld.archman.client.protocol.util.ProtocolListExportActionDelegate"
                  icon="help/icons/report.png"
                  id="it.archiworld.archman.client.crm.protocoltreeview.ListToReportActionDelegate"
                  label="%protocollist_export_label"
                  style="push"
                  toolbarPath="/listtoreport"
                  tooltip="%protocollist_export_tooltip">
            </action>
         </viewContribution>
      </extension>
      <extension
            point="org.eclipse.ui.popupMenus">
         <objectContribution
               id="it.archiworld.archman.client.protocol.contextmenu"
               objectClass="it.archiworld.common.protocol.Entry">
            <action
                  class="it.archiworld.archman.client.protocol.util.DeleteEntryAction"
                  icon="help/icons/email_open.png"
                  id="it.archiworld.archman.client.protocol.deleteentryaction.contextmenuaction"
                  label="%invalidate_protocol_action_label"
                  style="push"
                  tooltip="%invalidate_protocol_action_tooltip">
            </action>
         </objectContribution>
         <objectContribution
               id="it.archiworld.archman.client.crm.contextmenu"
               nameFilter="%addresstree_searchresultfolder"
               objectClass="java.lang.String">
            <action
                  class="it.archiworld.archman.client.crm.util.DeleteSearchActionDelegate"
                  icon="help/icons/find.png"
                  id="it.archiworld.archman.client.crm.deletesearch.contextmenuaction"
                  label="%action.label.delete_search"
                  tooltip="%action.tooltip.delete_search">
            </action>
         </objectContribution>
         <objectContribution
               id="it.archiworld.archman.client.crm.contextmenu"
               nameFilter="%addresstree_memberfolder"
               objectClass="java.lang.String">
            <action
                  class="it.archiworld.archman.client.crm.util.ExportSelectedActionDelegate"
                  icon="help/icons/report.png"
                  id="it.archiworld.archman.client.crm.exportmember.contextmenuaction"
                  label="%action.label.export_members">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.wizzard.ExportOptionWizardContextMenuAction"
                  icon="help/icons/report_picture.png"
                  id="it.archiworld.archman.client.crm.wizzard.exportoptionwizardcontextmenuaction.exportmembers"
                  label="Export Members to Excel">
            </action>
         </objectContribution>
         <objectContribution
               id="it.archiworld.archman.client.crm.contextmenu"
               nameFilter="%addresstree_deletedmemberfolder"
               objectClass="java.lang.String">
            <action
                  class="it.archiworld.archman.client.crm.util.ExportSelectedActionDelegate"
                  icon="help/icons/report.png"
                  id="it.archiworld.archman.client.crm.exportdeletedmember.contextmenuaction"
                  label="%action.label.export_deleted_members">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.wizzard.ExportOptionWizardContextMenuAction"
                  icon="help/icons/report_picture.png"
                  id="it.archiworld.archman.client.crm.wizzard.exportoptionwizardcontextmenuaction.exportdeleted"
                  label="Export Deleted Members to Excel">
            </action>
         </objectContribution>
         <objectContribution
               id="it.archiworld.archman.client.crm.contextmenu"
               nameFilter="%addresstree_searchresultfolder"
               objectClass="java.lang.String">
            <action
                  class="it.archiworld.archman.client.crm.util.ExportSelectedActionDelegate"
                  icon="help/icons/report.png"
                  id="it.archiworld.archman.client.crm.exportsearchedmember.contextmenuaction"
                  label="%action.label.export_searched_members">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.wizzard.ExportOptionWizardContextMenuAction"
                  icon="help/icons/report_picture.png"
                  id="it.archiworld.archman.client.crm.wizzard.exportoptionwizardcontextmenuaction.exportsearched"
                  label="Export Searched Members to Excel">
            </action>
         </objectContribution>
         <objectContribution
               id="it.archiworld.archman.client.crm.contextmenu"
               nameFilter="%addresstree_memberfolder"
               objectClass="java.lang.String">
            <action
                  class="it.archiworld.archman.client.crm.util.ArrowNewsLetterActionDelegate"
                  icon="help/icons/report_go.png"
                  id="it.archiworld.archman.client.crm.exportmemberarrow.contextmenuaction"
                  label="%action.label.export_member_for_freccia">
            </action>
         </objectContribution>
         <objectContribution
               id="it.archiworld.archman.client.crm.contextmenu"
               nameFilter="%addresstree_companyfolder"
               objectClass="java.lang.String">
            <action
                  class="it.archiworld.archman.client.crm.util.CompanyExportActionDelegate"
                  icon="help/icons/report_go.png"
                  id="it.archiworld.archman.client.crm.exportcompany.contextmenuaction"
                  label="%action.label.export_company">
            </action>
         </objectContribution>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="it.archiworld.archman.client.core.connect.ConnectionSettingsPage"
               id="it.archiworld.archman.client.core.connect.connectionsettingspage"
               name="%properties_server">
         </page>
         <page
               category="it.archiworld.archman.client.core.connect.connectionsettingspage"
               class="it.archiworld.archman.client.core.connect.RMIConnectionSettingsPage"
               id="it.archiworld.archman.client.core.connect.rmiconnectionsettingspage"
               name="%properties_rmiconnection">
         </page>
         <page
               class="it.archiworld.archman.client.core.GeneralPreferencePage"
               id="it.archiworld.archman.client.core.generalpreferencepage"
               name="%properties_general">
         </page>
         <page
               category="it.archiworld.archman.client.core.connect.connectionsettingspage"
               class="it.archiworld.archman.client.core.connect.TemplateFolder"
               id="it.archiworld.archman.client.core.connect.templatefoldersettingspage"
               name="%properties_templatefolder">
         </page>
         <page
               class="it.archiworld.archman.client.protocol.util.ResponsiblePreferencePage"
               id="it.archiworld.archman.client.protocol.util.responsiblepreferencepage"
               name="%properties_responsible">
         </page>
         <page
               class="it.archiworld.archman.client.protocol.util.ArchivePreferencePage"
               id="it.archiworld.archman.client.protocol.util.archivepreferencepage"
               name="%properties_archive">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.elementFactories">
         <factory
               class="it.archiworld.archman.client.crm.CRMElementFactory"
               id="it.archiworld.archman.client.crm.elementfactory">
         </factory>
         <factory
               class="it.archiworld.archman.client.crm.ProtocolElementFactory"
               id="it.archiworld.archman.client.protocol.elementfactory">
         </factory>
         <factory
               class="it.archiworld.archman.client.committee.CommitteeElementFactory"
               id="it.archiworld.archman.client.committee.elementfactory">
         </factory>
      </extension>
      <extension
            point="org.eclipse.ui.viewActions">
         <viewContribution
               id="it.archiworld.archman.client.crm.addresstreeview.actions"
               targetID="it.archiworld.archman.client.crm.addresstreeview">
            <action
                  class="it.archiworld.archman.client.crm.PersonSearchActionDelegate"
                  icon="help/icons/user_find.png"
                  id="it.archiworld.archman.client.crm.addresstreeview.PersonSearchActionDelegate"
                  label="%advanced_person_search_label"
                  style="push"
                  toolbarPath="/searchactions"
                  tooltip="%advanced_person_search_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.CompanySearchActionDelegate"
                  icon="help/icons/building_find.png"
                  id="it.archiworld.archman.client.crm.addresstreeview.CompanySearchActionDelegate"
                  label="%advanced_company_search_label"
                  style="push"
                  toolbarPath="/searchactions"
                  tooltip="%advanced_company_search_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.MemberSearchActionDelegate"
                  icon="help/icons/vcard_find.png"
                  id="it.archiworld.archman.client.crm.addresstreeview.MemberSearchActionDelegate"
                  label="%advanced_member_search_label"
                  style="push"
                  toolbarPath="/searchactions"
                  tooltip="%advanced_member_search_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.ServiceMemberSearchActionDelegate"
                  icon="help/icons/wrench.png"
                  id="it.archiworld.archman.client.crm.addresstreeview.ServiceMemberSearchActionDelegate"
                  label="%advanced_servicemember_search_label"
                  style="push"
                  toolbarPath="/searchactions"
                  tooltip="%advanced_servicemember_search_tooltip">
            </action>
            <action
                  class="it.archiworld.archman.client.crm.util.ListExportActionDelegate"
                  icon="help/icons/report.png"
                  id="it.archiworld.archman.client.crm.addresstreeview.ListToReportActionDelegate"
                  label="%crmlist_export_label"
                  style="push"
                  toolbarPath="/listtoreport"
                  tooltip="%crmlist_export_tooltip">
            </action>
         </viewContribution>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.crm.MemberSearchEditor"
               contributorClass="it.archiworld.archman.client.crm.SearchActionBarContributor"
               default="false"
               icon="help/icons/vcard_edit.png"
               id="it.archiworld.archman.client.crm.membersearcheditor"
               name="%member_search_label">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.crm.ServiceMemberSearchEditor"
               contributorClass="it.archiworld.archman.client.crm.SearchActionBarContributor"
               default="false"
               icon="help/icons/wrench.png"
               id="it.archiworld.archman.client.crm.servicemembersearcheditor"
               name="%servicemember_search_label">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.crm.PersonSearchEditor"
               contributorClass="it.archiworld.archman.client.crm.SearchActionBarContributor"
               default="false"
               icon="help/icons/user_edit.png"
               id="it.archiworld.archman.client.crm.personsearcheditor"
               name="%person_search_label">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="it.archiworld.archman.client.crm.CompanySearchEditor"
               contributorClass="it.archiworld.archman.client.crm.SearchActionBarContributor"
               default="false"
               icon="help/icons/building_edit.png"
               id="it.archiworld.archman.client.crm.companysearcheditor"
               name="%company_search_label">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="it.archiworld.archman.client.crm.util.FocusOnAddressTreeSearchCommandHandler"
               description="Focus On Search Input of the AddressTreeView"
               id="it.archiworld.archman.client.crm.util.focusonaddresstreesearchcommandhandler"
               name="Focus On Address Tree Search Input">
         </command>
         <keyBinding
               commandId="it.archiworld.archman.client.crm.util.focusonaddresstreesearchcommandhandler"
               keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
               keySequence="M1+T">
         </keyBinding>
         <command
               defaultHandler="it.archiworld.archman.client.protocol.util.FocusOnProtocolTreeSearchCommandHandler"
               description="Focus On Search Input of the ProtocolTreeView"
               id="it.archiworld.archman.client.protocol.util.focusonprotocoltreesearchcommandhandler"
               name="Focus On Protocol Tree Search Input">
         </command>
         <keyBinding
               commandId="it.archiworld.archman.client.protocol.util.focusonprotocoltreesearchcommandhandler"
               keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
               keySequence="M1+R">
         </keyBinding>
         <command
               defaultHandler="it.archiworld.archman.client.protocol.util.InsertAddressIntoEntryCommandHandler"
               description="Insert selected address into the active editor"
               id="it.archiworld.archman.client.protocol.util.insertaddressintoentrycommandhandler"
               name="Insert Address into Editor">
         </command>
         <keyBinding
               commandId="it.archiworld.archman.client.protocol.util.insertaddressintoentrycommandhandler"
               keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
               keySequence="F4">
         </keyBinding>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
      </extension>
</plugin>
